.Footer {
  background-color: black;
  height:20vh;
  color: white;
  border-bottom: 0.1px solid rgb(35, 35, 35);
}

.FooterContact {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
  opacity: 0.8;
  background-color: transparent;
}

.FooterWrapper {
  display: flex;
}

.FooterLeft {
  padding: 20px;
  flex: 1;
  width: 100%;
}

.Footertitle {
  font-size: 40px;
  font-weight: 800px;
  color: rgb(76, 74, 74);
  margin: 15px 0px;
}

.FooterDesc {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.FooterConnect {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Icon {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.Icon > a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FooterConnect .Icon:hover:nth-child(1) {
  background-color: #3b5999;
}

.FooterConnect .Icon:hover:nth-child(2) {
  background-color: #e4405f;
}
.FooterConnect .Icon:hover:nth-child(3) {
  background-color: #55acee;
}
.FooterConnect .Icon:hover:nth-child(4) {
  background-color: #55acee;
}
.FooterConnect .Icon:hover:nth-child(5) {
  background-color: gray;
}

.FooterRight {
  padding: 20px;
  flex: 1;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}
input {
  width: 80%;
  padding: 10px;
  margin: 15px 0px;
  background-color: rgb(61, 61, 61);
  color: lightgray;
  border: none;
  outline: none;
  border-radius: 3px;
}

textarea {
  width: 80%;
  padding: 10px;
  margin: 15px 0px;
  height: 150px;
  background-color: rgb(61, 61, 61);
  color: lightgray;
  border: none;
  outline: none;
  border-radius: 3px;
}

::placeholder {
  color: darkgray;
}

.button {
  width: 20%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #fff800;
  color: black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  font-weight: 600 !important;
}

.success-message {
  font-size: 18px;
  margin: 20px 0px;
  color: rgb(30, 220, 30);
}

@media screen and (max-width: 800px) {
  .FooterWrapper {
    flex-direction: column;
  }
  .FooterLeft {
    margin: 0;
    padding: 10px 15px;
  }
  .FooterContact {
    padding: 10px;
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .Footertitle {
    font-size: 25px;
    margin: 10px 0px;
  }
  .FooterContact {
    font-size: 20px;
  }
  .FooterDesc {
    font-size: 10px;
  }
  .FooterConnect {
    margin-left: 0;
    padding-left: 0;
    width: 90%;
  }

  .Icon {
    margin-right: 2px;
  }
  .form {
    width: 90%;
  }
  .button {
    padding: 8px;
    font-size: 15px;
    width: 50%;
  }
}
